
    .postswall {
        display:flex;
        flex-flow: column nowrap;
        width: 100%;
        height: 100px;
        border-bottom: 2px rgb(173, 173, 173) solid;
    }
    .textarea__reply {
        margin: 0 0 20px 40px;
        padding: 5px;
        font-size: 0.7rem;
        max-width: fit-content;
        background: #186812;
        color: #FFF;
        border-radius: 7px;

    }
    .add_new_post {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .add_new_post__textarea {
        margin: 0 0 0 30px;
        background: #f6f6f6;
        height: 50%;
        width: 50%;
        border: 1px solid #cecece;
        padding: 8px 0 8px 10px;
        resize: none;
        transition: 0.2s linear;
        outline: none;
    }
    .add_new_post__textarea:focus {
        height: 80%;
        transition: 0.2s linear;
    }
    .button {
        height: 50%;
        background: #fff;
        border: 1px #cfcfcf solid;
        margin: 0 0 0 10px;
        padding: 0 15px 0 15px;
        cursor: pointer;
    }
    .button:hover {
        border: 1px #a1a1a1 solid;
    }
    .button:active {
        border: 1px #c4c4c4 solid;
    }
    .posts{
        padding: 10px;
    }
    .post {
        position: relative;
        padding: 10px;
        margin: 0 0 10px 0;
        border: 1px rgb(231, 231, 231) solid;
    }
    .name {
        font-weight: 600;
    }
    .name span {
        font-style: oblique;
        font-weight: 100;
    }
    .post p {
        padding: 10px 50px 0 0;
    } 
    .delete {
        background-image: url(./delete.png);
    }
    .edit {
        background-image: url(./edit.png);
    }
    .reply {
            background-image: url(./reply.png);
    }
    .post__buttons {
            display: inline-block;
            height: 20px;
            width: 20px;
            cursor: pointer;
            margin: 5px;
    }
    .post__buttons_block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .likes_container {
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
    }
    .likes {
        height: 20px;
        width: 20px;
        background-image: url(./like.png);
        background-repeat: no-repeat;
        padding: 0 25px 0 0;
        cursor: pointer;
    }
    .liked {
        background-image: url(./liked.png);
    }
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;    
        padding: 15px;
        line-height: 20px;
    }
    .user_link {
        text-decoration: none;
        padding: 0 5px;
        color: #303030;
    }
    .user_link:hover {
        color: #8a8a8a;
    }

    .not__autorized_block {
        margin: 100px 0 0 0;
        min-height: 60vh;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 35px;
        justify-content: center;
        align-items: center;
        gap: 20px 0;
    }

    .image {
        max-width: 500px;
        max-height: 750px;
        width: auto;
        height: 100%;
    }
	    .small_text {
        padding: 15px 0;
        font-size: 1.2rem;
    }
    .reply__block_message {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
        padding: 2px 0 2px 10px;
        color: #7c7c7c;
    }
    .reply__block {
        border: 1px #e5e5e5 solid;
        padding: 7px 5px;
        border-radius: 7px;
        margin: 5px;
        cursor: pointer;
    }
    .reply__metadata {
    font-size: 0.6rem;
    font-style: italic;
    color: #747474;
    position: relative;
    top: 11px;
    left: 14px;
    background: #FFF;
    width: auto;
    padding: 0 10px;

    }
    @media (max-width: 768px) {
        .add_new_post__textarea {
            width: 80%;
            margin: 0;
        }
        .add_new_post {
            justify-content: center;
        }
        .not__autorized_block > p {
            text-align: center;
            padding: 15px 0;
        }
    }