
    .postswall {
        display:flex;
        flex-flow: column nowrap;
        width: 100%;
        height: 100px;
        border-bottom: 2px rgb(173, 173, 173) solid;
    }
    .add_new_post {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .add_new_post textarea {
        margin: 0 0 0 30px;
        background: #f6f6f6;
        height: 50%;
        width: 50%;
        border: 1px solid #cecece;
        padding: 8px 0 8px 10px;
        resize: none;
        transition: 0.2s linear;
        outline: none;
    }
    .add_new_post textarea:focus {
        height: 80%;
        transition: 0.2s linear;
    }
    .button {
        height: 50%;
        background: #fff;
        border: 1px #cfcfcf solid;
        margin: 0 0 0 10px;
        padding: 0 15px 0 15px;
        cursor: pointer;
    }
    .button:hover {
        border: 1px #a1a1a1 solid;
    }
    .button:active {
        border: 1px #c4c4c4 solid;
    }
    .posts{
        padding: 10px;
    }
    .post {
        position: relative;
        padding: 10px;
        margin: 0 0 10px 0;
        border: 1px rgb(231, 231, 231) solid;
    }
    .name {
        font-weight: 600;
    }
    .name span {
        font-style: oblique;
        font-weight: 100;
    }
    .post p {
        padding: 10px 50px 0 0;
    } 
    .delete {
        position: absolute;
        height: 20px;
        width: 20px;
        background-image: url(./delete.png);
        right: 10px;
        top: 5px;
        cursor: pointer;
    }
    .edit {
        position: absolute;
        height: 20px;
        width: 20px;
        background-image: url(./edit.png);
        right: 40px;
        top: 5px;
        cursor: pointer;
    }
    .likes_container {
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
    }
    .likes {
        height: 20px;
        width: 20px;
        background-image: url(./like.png);
        background-repeat: no-repeat;
        padding: 0 25px 0 0;
        cursor: pointer;
    }
    .liked {
        background-image: url(./liked.png);
    }
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;    
        padding: 15px;
        line-height: 20px;
    }
    .user_link {
        text-decoration: none;
        padding: 0 5px;
        color: #303030;
    }
    .user_link:hover {
        color: #8a8a8a;
    }

    .not__autorized_block {
        margin: 100px 0 0 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 35px;
        justify-content: center;
        align-items: center;
        
    }

    .image {
        max-width: 500px;
        max-height: 750px;
        width: auto;
        height: 100%;
    }
    .small_text {
        padding: 15px 0;
        font-size: 1.2rem;
    }