.header {
  height: 100%;
  width: 100%;
  background: #03589d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  word-spacing: 10px;
  padding: 15px 10px;
}
.logo img {
  margin: 3px 0 0 3px;
  height: 48px;
  width: 48px;
}

.auth__block {
  font-family: monospace;
  padding: 10px;
  margin: 0 10px 0 0;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: baseline;
  gap: 0 10px;
}
.auth__block > form {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-flow: row wrap;
  gap: 10px 15px;
  text-align: right;
}
.auth__block_input {
  box-sizing: border-box;
  font-family: monospace;
  max-width: 250px;
  width: 100%;
  border: none;
  border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-weight: 700;
  padding: 5px;
  margin: 0 10px;
  overflow: hidden;
}
.auth__block_input::placeholder {
  font-weight: 300;
  color: #ffffff70;
  transition: all 0.3s linear;
  overflow: hidden;
}
.auth__block_input:focus {
  outline: none;
}
.auth__block_label {
  display: none;
}
.button {
  border: #fffffff2;
  background: #fff;
  color: #0083eb;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: 700;
  height: 26px;
  width: 100px;
  cursor: pointer;
}
.button:hover {
  background: #fff;
}
.button:active {
  background: #d4d4d4;
}
.welcome {
  margin: 0 10px;
  color: #fff;
  display: flex;
  align-items: center;
}
.welcome__name {
  display: inline-block;
  padding: 0 15px 0 5px;
  font-weight: 700;
  width: 100%;
}
.auth__block_error {
  display: inline-block;
  color: rgb(191, 54, 54);
  background: #ffffffc7;
  padding: 3px 3px;
  font-weight: 700;
  text-transform: uppercase;
}
.auth__block_notice {
  margin: 5px 0 0 0;
}
.register__block > form {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  max-width: 300px;
  width: 100%;
  padding: 30px;
  margin: 50px auto 0 auto;
  font-weight: 700;
  font-size: 1.2rem;
}
.register__block > form > button {
  height: 30px;
  width: 150px;
  background: #2196f3;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  align-self: flex-end;
}
.register__block > form > input {
  height: 30px;
  border: none;
  border-bottom: 1px #c3c3c3 solid;
  outline: none;
  background: #fff;
}
.register__link {
  display: flex;
  flex-direction: column;
  gap: 5px 10px;
}
.register__link a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #fff;
  padding: 0 20px;
}
.mobile__menu {
  display: none;
}
@media (max-width: 768px) {
  .welcome {
    text-align: right;
  }
  .button {
    margin: 10px 0;
  }
  .mobile__menu {
    display: block;
  }
  .register__link {
    gap: 15px 15px;
  }
  .auth__block > form {
    flex-flow: column wrap;
    width: 100%;
  }
  .auth__block_login,
  .auth__block_password {
    width: 100%;
  }
}
