html {
  box-sizing: border-box;
  scroll-behavior: smooth;
} 
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}

.main {
display: flex;
}
.content {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  flex: 0 0 85%;
  padding: 5px 0 0 5px
}
